<!DOCTYPE html>
<html>
<head>
    <title>查询phone列表</title>
</head>
<body>
    <form action="/phone/list.htm" method="get">
        <table>
            <tr>
                <td>id</td>
                <td><input name="phone_id" type="text" placeholder="请输入id"/></td>
            </tr>
            <tr>
                <td>型号</td>
                <td><input name="name" type="text" placeholder="请输入型号"/></td>
            </tr>
            <tr>
                <td>价格</td>
                <td><input name="price" type="text" placeholder="请输入价格"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="提交"/></td>
            </tr>
        </table>
    </form>
</body>
</html>